body {
  text-align: center;
}

button {
  background-color: #bbb;
  border-style: none;
}

#game {
  display: none;
}

#board {
  margin: 20px auto;
}

td, button {
  font-family: arial;
  height: 100px;
  width: 100px;
  font-size: 50px;
  color: white;
  cursor: pointer;
}

#a1, #a3, #b2, #c1, #c3 {
  background-color: #999;
}

#a2, #b1, #b3, #c2 {
  background-color: #ddd;
}