@import url("https://rotyflo.github.io/css/terminal.css");

body {
  text-align: center;
}

h1 {
  display: inline-block;
}

input {
  max-width: 300px;
}

#board .btn {
  height: 100px;
  width: 100px;
  background-color: white;
  border: solid black 1px;
  cursor: pointer;
  font-size: 50px;
  padding: 0;
  color: black;
}

#board #a1 {
  border-top: none;
  border-left: none;
}
#board #a2 {
  border-top: none;
}
#board #a3 {
  border-top: none;
  border-right: none;
}
#board #b1 {
  border-left: none;
}
#board #b3 {
  border-right: none;
}
#board #c1 {
  border-bottom: none;
  border-left: none;
}
#board #c2 {
  border-bottom: none;
}
#board #c3 {
  border-bottom: none;
  border-right: none;
}